body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADER */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../images/banner5.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0% 0% 25% 25%;
}
header h1{
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}
nav ul {
    list-style-type: none;
    display: inline;
    padding: 0;
}

ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

li {
    display: inline;
    float: left;
}
a {
    display: block;
    padding: 8px;
    margin-bottom: 30px;
}

a:link, a:visited {
    background-color: rgba(255,255,255,0.8);
    border-color: black;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:hover {
    background-color: black;
    color: white;
}
/* MAIN */
main{
    display: block;
}
#heading{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: center;
}
#heading h1{
    width: 100%;
}
#heading p{
    width: 100%
}
/* SEARCHING */
#searchSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}
@media screen and (max-width: 550px){
    #searchSection button{
        width: 405px;
    }
}
button{
    background-color: white;
    border-color: black;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: black;
    color: white;
}
input{
    height: 40px;
    width: 400px;
}
/* OUTPUTTING */
#outputSection{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid;
    border-bottom-color: black;
    border-top: 1px solid;
    border-top-color: black;
    max-width: 1000px;
}
#outputSection h1{
    font-size: 40px;
}
#outputSection p{
    font-size: 20px;
}
#outputSection a{
    background-color: black;
    color: white;
}
#outputSection a:hover{
    background-color: white;
    color: black;
}
#outputSection p a{
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-size: 20px;
}
#outputSection li a{
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-size: 20px;
}
